body,
.top-bar,
.sub-bar {
  max-width: 320px;
}

body {
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 14px;
  overflow-x: hidden;
}

div, p, textarea, label, input, h1, h2, h3, h4, h5 { font-family: 'Arial', sans-serif; }

h1 .info, h2 .info {margin-left: 20px;}

h1 { 
  color: #f45f47;
  padding: 10px;
  margin-top: 0;
  font-size: 22px;
  border-bottom: 1px solid #f45f47;
}
h1 .info {font-size: 18px;}

h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}
h2 .info {font-size: 16px;}


a {
  text-decoration: none;
  color: #111;
}


/* colors */
.red  { color: #D7533E; }
.orange  { color: #F49E47; }
.blue { color: #308097; }
.green { color: #35B45B; }
.dark-grey { color: #111; }
.light-grey { color: #999; }


/* align */
.justify { text-align: justify; }


/* positions */
.right { float: right;}
.left { float: left;}
.clear { clear: both;}

/* sizes */
.large, .half, .third {box-sizing: border-box;}

.large {width: 100%;}
.half {width: 48%; margin: 1%;}
.third {width: 31%; margin: 1%;}

/* well */
.well, .wellLight {
  padding: 3%;
  position: relative;
  box-sizing: border-box;
}

.well {background-color: #fff; border-bottom: 2px solid #eee; font-size: 16px;}
.wellLight {background-color: #fcfcfc; text-align: center; font-size: 13px;}


/* toggle */
.toggle {
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
.toggle-top { background-image: url(img/top-arrow.png); }
.toggle-bottom { background-image: url(img/bottom-arrow.png); }


/* info messages */
.success, .error {
  padding: 5px;
}
.success { color: #35B45B; }
.error { color: #f45f47; }


/* buttons and labels */
.small-btn {
  display: inline-block;
  background-color: #f45f47;
  border-radius: 2px;
  margin-right: 15px;
}

.button {
  background-color: #f45f47;
  padding: 5px 10px;
  margin-top: 10px;
  border-color: #C4513E;
  border-style: solid;
  border-width: 0 0 5px 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.button:active { background-color: #C4513E; }


/* icons */
.small-icon {
  background-image: url(img/challenge-icons.png);
  background-color: yellow;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 10px;
}

.small-icon.time-left {background-position: 0px 0px;}
.small-icon.challenge-time {background-position: 20px 0px;}
.small-icon.challenge-first {background-position: 40px 0px;}


/* top bar */

.top-bar {
  width: 100%;
  height: 45px;
  background-color: #f45f47;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 999;
}

.top-bar .app-name {
  margin: 12px 0 0 15px;
  width: 150px;
  height: 25px;
  background: url(img/title.png) no-repeat;
}

.top-bar .icons { margin: 10px 15px 0 0; }

.top-bar .icons img {
  max-height: 25px;
  margin-left: 10px;
}


/* sub-bar */

.sub-bar {
  position: fixed;
  top: 45px;
  background-color: #dbdbdb;
  width: 100%;
  margin: 0; padding: 0;
}

.sub-bar .navbar {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 98%;
  font-size: 13px;
}

.sub-bar .navbar li { 
  float: left;
  padding: 5px 0;
  text-align: center;
}

.sub-bar .navbar.nav-four li  { width: 24.8%;}
.sub-bar .navbar.nav-three li { width: 33.3%;
}

.sub-bar .navbar .ui-btn {
  width: 100%;
  display: block;
  padding: 5px 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #bbb;
  color: #999;
  text-transform: lowercase;
}
.sub-bar .navbar .ui-btn:first-child {
  border-width: 1px;

}

.sub-bar .navbar .ui-btn:hover,
.sub-bar .navbar .ui-btn.selected {
  background-color: #ccc;
  color: #666;
}
.sub-bar .navbar .ui-btn.selected {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}



/* list item status */

.open-right, .open-left, .over {
  min-width: 30px;
  min-height: 21px;
  background-repeat: no-repeat;
}
.over { background-image: url(img/over.png); background-position: 98% center; }
.open-right { background-image: url(img/right-arrow.png); background-position: 98% center; }
.open-left { background-image: url(img/left-arrow.png); background-position: center center; }


/* actions */

.actions {
  position: absolute;
  width: 110px;
}

.actions span {

  display: inline-block;
  width: 40px;
  height: 25px;
  margin: 0 5px;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
}

.actions .validate {
  color: #35B45B;
  border-color:#35B45B;
  background-image: url(img/validate.png);
}
.actions .refuse {
  color: #F45F47;
  border-color: #F45F47;
  background-image: url(img/refuse.png);
}


/* form */


input, textarea, select {
  border: none;
  padding: 10px;
  outline: 0;
  box-sizing: border-box;
}

input, textarea, legend, select {
  color: #666;
}

input, textarea, select {
  background-color: #eee;
  border: none;
}

input[type=text], input[type=file], textarea, legend {
  margin-top: 10px;
}

label { display: none; }
label.visible {
  display: inline-block;
  padding: 5px 10px 5px 0;
}

legend {
  color: #bbb;
  text-transform: uppercase;
  padding-top: 10px;
}


::-webkit-input-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
::-ms-input-placeholder {
    color:    #999;
}


/* content */

.content { position: relative;}

.content-low { top: 85px; }
.content-high { top: 40px; }

.content .inner-content {
  padding: 0 10px;
}


/* list */

.list, .small-list {
  list-style: none;
  padding: 0;
}

.list .item, .list li, .small-list li { background-color: #fdfdfd; margin-bottom: 5px; }

.list li {
  position: relative;
  height: 57px;
  z-index: 0;
}

.small-list li { padding: 5px;}
.list-open li { background-color: #eee; }
.list-open li .item { border-right: 5px solid #F45F47;}

.list .inner-item {
  padding: 10px 0 0 10px;
}

.list .item, .list .challenge-actions {
  margin: 0;
  position: absolute;
}

.list .item {
  padding: 10px;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.list .item.active {left: -120px;}

  .list .item, .list .item.active {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

.list .challenge-actions {
  left: 65%;
  top: 17px;
}


.list .ui-li-heading {
  margin: 0;
  font-size: 18px;
}
.list .ui-li-desc {
  margin: 0;
  color: #666;
  font-size: 10px;
}

.list .thumb {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 35px;
}

.list .thumb.over {background-color: gray;}
.list .thumb.completed {background-color: green;}
.list .thumb.failed {background-color: red;}

.list .thumb img {
  max-width: 40px;
  max-height: 35px;
}


/* user profil */
.profile {
  text-align: center;
  padding: 20px 0;
}

.profile .name {
  margin-top: 10px;
  font-size: 22px;
}

.profile .avatar {
  background-color: #ddd;
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin: 0 auto;
}
.profile .avatar img {
  max-width: 120px;
  border-radius: 60px;
  position: relative;
  top: 5px;
}

.profile .edit {
  background-color: #ddd;
  padding: 5px;
}


/* stats */

.stats .number {
  font-size: 56px;
  text-align: center;
}

.stats .number .desc {
  font-size: 22px;
  display: block;
}



/* members & groups */
.members, .groups {
  max-height: 200px;
  background-color: #eee;
} 

.groups {margin-bottom: 20px;}


/* rate */

.answer { width: 100%; }
.answer img { max-width: 100%; }

/* slider */

.slide-container {
  width: 200%;
  height: 200px;
  position: relative;
}
.slider-inside {
  width: 50%;
  float: left;
}

.slide-left {
  -webkit-animation: slide-left 1.5s ease;
    -moz-animation: slide-left 1.5s ease;
      animation: slide-left 1.5s ease;
  -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
}

@-webkit-keyframes slide-left {
  0% {    left: 0; }
  100% {  left: -100%; }
}

@-moz-keyframes slide-left {
  0% {    left: 0; }
  100% {  left: -100%; }
}


@keyframes slide-left {
  0% {    left: 0; }
  100% {  left: -100%; }
}

.slide-right {
  -webkit-animation: slide-right 1s ease;
    -moz-animation: slide-right 1s ease;
      animation: slide-right 1s ease;
  -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
}

@-webkit-keyframes slide-right {
  0% {    left: -100%; }
  100% {  left: 0; }
}

@-moz-keyframes slide-right {
  0% {    left: -100%; }
  100% {  left: 0; }
}


@keyframes slide-right {
  0% {    left: -100%; }
  100% {  left: 0; }
}