body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 18px;
  overflow-x: hidden;
}

div, p, textarea, label, input { font-family: 'Arial', sans-serif; }
h1, h2, h3, h4 { font-family: 'Lato', 'Arial', sans-serif; }

h2 { 
  color: #f45f47;
  padding: 20px;
  margin: 20px 0 0 0;
  font-size: 32px;
  border-bottom: 1px solid #f45f47;
}

h2 .info {
  font-size: 22px;
  margin-left: 20px;
}

h3 {
  font-size: 26px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #111;
}

.app-name {
  font-family: "Sarina";
  font-weight: normal;
}

.justify { text-align: justify; }


.toggle {
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
.toggle-top { background-image: url(img/top-arrow.png); }
.toggle-bottom { background-image: url(img/bottom-arrow.png); }

.right { float: right; }
.left { float: left; }


/* slider */

.slide-container {
  width: 200%;
  height: 200px;
}
.slider-inside {
  width: 50%;
  float: left;
}

.slide-left {
  -webkit-animation: slide-left 1.5s ease;
    -moz-animation: slide-left 1.5s ease;
      animation: slide-left 1.5s ease;
  -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
}

@-webkit-keyframes slide-left {
  0% {    left: 0; }
  100% {  left: -100%; }
}

@-moz-keyframes slide-left {
  0% {    left: 0; }
  100% {  left: -100%; }
}


@keyframes slide-left {
  0% {    left: 0; }
  100% {  left: -100%; }
}

.slide-right {
  -webkit-animation: slide-right 1s ease;
    -moz-animation: slide-right 1s ease;
      animation: slide-right 1s ease;
  -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
}

@-webkit-keyframes slide-right {
  0% {    left: -100%; }
  100% {  left: 0; }
}

@-moz-keyframes slide-right {
  0% {    left: -100%; }
  100% {  left: 0; }
}


@keyframes slide-right {
  0% {    left: -100%; }
  100% {  left: 0; }
}



.open-right, .open-left {
  min-width: 30px;
  min-height: 30px;
}
.open-right { background: url(img/right-arrow.png) no-repeat right center}
.open-left { background: url(img/left-arrow.png) no-repeat right center}


.pull-right {
  float: right;
  margin-left: 20px;
}
.pull-left  {
  float: left; 
  margin-right: 20px;
}
.unoverflow { overflow: hidden; }
.clear { clear: both; }
.breath-bottom { margin-bottom: 50px; }


.button {
  background-color: #ccc;
  color: #333;
  margin-top: 10px;
  font-size: 34px;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.progress {
  background-color: #ddd;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress .bar {
  background-color: #D7533E;
  height: 20px;
  margin: 10px 0;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.progress, .progress .bar {
  height: 15px;
}

.highlight {
  background-color: #eee;
}

.info {
  font-style: italic;
}

.success, .error {
  font-size: 22px;
  padding: 5px;
}
.success { color: #35B45B; }
.error { color: #f45f47; }

.back img {
  max-height: 30px;
}

.text-though {
  position: relative;
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.text-though:before, .text-though:after {
  background-color: #444;
  content: "";
  height: 1px;
  position: absolute;
  top: 9px;
  width: 45%;
}

.text-though:after { right: 0; }
.text-though:before { left: 0; }


.third {
  width: 31%;
  margin: 1%;
  float: left;
}


/* actions */
.actions {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.actions span {
  padding: 5px 20px;
  margin: 0 10px;
  background-color: #f9f9f9;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  cursor: pointer;
}

.actions .validate {
  color: #35B45B;
  border-color:#35B45B;
  background: url(img/validate.png) no-repeat center;
}
.actions .refuse {
  color: #F45F47;
  border-color: #F45F47;
  background: url(img/refuse.png) no-repeat center;
}


/* colors */
.red  { color: #D7533E; }
.blue { color: #308097; }
.dark-grey { color: #111; }
.light-grey { color: #999; }



/* login */

.logo { 
  color: #fff;
  font-size: 62px;
  text-align: center;
  margin: 17% auto 40px;
}

.login-page {
  background-color: #f45f47;
}

.login-page .content {
  width: 90%;
  margin: 0 auto;
}

.login-page input[type=text], .login-page input[type=password] {
  background-color: #D7533E;
  border: none;
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-page .button {
  background-color: #eee;
  border-bottom: 5px solid #bbb;
}

.login-page .error {
  margin: 10px 0;
  color: #fff;
  text-shadow: 2px 1px 2px #666;
}


/* form */

input[type=text], input[type=password], textarea, .button, select {
  border: none;
  padding: 10px;
  width: 100%;
  outline: 0;
  box-sizing: border-box;
}

input, textarea, legend, select {
  color: #666;
  font-size: 28px;
}

input, textarea, select {
  background-color: #eee;
  border: none;
}

input[type=text], textarea, legend {
  margin-top: 10px;
}

label { display: none; }

legend {
  color: #bbb;
  font-size: 18px;
  text-transform: uppercase;
}


::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}


/* top bar */

.top-bar {
  width: 100%;
  height: 45px;
  background-color: #f45f47;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 999;
}

.top-bar div.app-name {
  margin: 5px;
  font-size: 28px;
  text-align: center;
  font-weight: normal;
  text-transform: lowercase;
}

.top-bar .icon {
  max-height: 35px;
  padding: 0 5px;
}

/* sub-bar */

.sub-bar {
  position: fixed;
  top: 45px;
  background-color: #dbdbdb;
  width: 100%;
  margin: 0; padding: 0;
}

.sub-bar .navbar {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 98%;
}

.sub-bar .navbar li { 
  float: left;
  width: 25%;
  padding: 7px 0;
  text-align: center;
}

.sub-bar .navbar .ui-btn {
  width: 100%;
  display: block;
  padding: 5px 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #bbb;
  color: #999;
  text-transform: lowercase;
}
.sub-bar .navbar .ui-btn:first-child {
  border-width: 1px;

}

.sub-bar .navbar .ui-btn:hover, .sub-bar .navbar .ui-btn.selected {
  background-color: #ccc;
  color: #666;
}
.sub-bar .navbar .ui-btn.selected {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}




/* content */

.content, .high-content, .top-content {
  margin-bottom: 60px;
  position: relative;
}

.content { margin-top: 90px; }
.high-content { margin-top: 50px; }
.top-content { margin-top: -50px; }

.inner-content {
  padding: 10px;
}

.content ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content ul.list li {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 10px;
}

.content ul.list li:hover {
  background-color: #eee;
}


.content ul.list li .ui-li-heading {
  margin: 0;
  font-size: 24px;
}
.content ul.list li .ui-li-desc {
  margin: 0;
  color: #666;
  font-size: 12px;
  text-transform: uppercase;
}

.content ul.list li .thumb {
  float: left;
  margin-right: 10px;
  max-width: 50px;
}





/* user */

.content .profile {
  min-height: 120px;
}
.content .avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.content .avatar img {
  max-height: 120px;
}

.content .stats .number {
  font-size: 56px;
  text-align: center;
}

.content .stats .number .desc {
  font-size: 22px;
  display: block;
}